.footerBar {
	height: 25rem;
	font-size: 1.2rem;
	font-weight: lighter;
	margin-top: 3rem;
	text-align: center;

	&__links {
		
		&--icon {
			padding-top: 5rem;
		}
	}

	&__copy {
		padding-top: 2rem;
	}
}
